
body {
    margin: 0;
    padding: 0;
    max-width: 100%;
}
a {
    text-decoration: none;
    display: inline;
    color: black;
}

header {
	width: 100%;
}

header .header-container {
	width: 100%;
	line-height: 30px;
	background-color: yellow;
}

.div-conteiner1 {
	width: 100%;
	display: grid;
	grid-template-columns: 35% 35% 30%;
}

header .header-logo-conteiner {
	font-size: 2em;
	display: flex;
	align-items: center;
	justify-content: center;
}

header .header-logo-conteiner img{
	display: flex;
	align-items: center;
	width: 140px;
	height: 90px;
}

header .header-titulo {
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
}

header .header-titulo h1 {
	margin: 0;
}

header .header-icons-container {
	font-size: 2em;
	display: flex;
	align-items: center;
	justify-content: center;
}

header .header-menu {
	width: 100%;
	line-height: 18px;
	background-color: yellow;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

header .header-menu-div div{
	width: 100%;
	max-width: 100%;
}

header .header-menu-div ul{
	margin-left: %;
}

ul, ol {
	list-style:none;
}
			
.nav > li {
	float:left;
}
			
.nav li a {
	font-size: 16px;
	background-color:#000;
	color:#fff;
	text-decoration:none;
	padding: 8px 10px;
	display:block;
}
			
.nav li a:hover {
	background-color:#434343;
}
			
.nav li ul {
	margin-bottom: 8px;
	display:none;
	position:absolute;
	min-width: 140px;
}
			
.nav li:hover > ul {
	display:block;
}
			
.nav li ul li{
	position:relative;
}
			
.nav li ul li {
	right: 40px;
	top: 0px;
}

main {
	width: 100%;
	background-color: #FFFDE7;
	background-image: url(../img/zyro-image.png);
	background-size: cover;
}

main .main-container {
	width: 95%;
	height: 300px;
	background-color: #e6e9ed;
	outline: 2px solid;
	outline-color: green;
	border-radius: 25px;
	margin-left: 30px;
}

.div-conteiner2 {
	width: 100%;
	line-height: 30px;
	padding-top: 20px;
	display: grid;
    grid-template-columns: 50% 50%;
}

main .main-mapa {
	display: flex;
	align-items: center;
	justify-content: center;
}

main .main-mapa img{
	outline: 6px solid;
	border-radius: 20px;
	outline-color: blue;
	width: 80%;
	height: 240px;
}

main .main-mensaje1 {
	display: flex;
	align-items: center;
	justify-content: center;
}

main .main-mensaje1 img{
	outline: 6px solid;
	outline-color: blue;
	width: 80%;
	height: 240px;
}

main .main-informacion {
	width: 80%;
	margin-left: 10%;
	line-height: 22px;
	background-color: #63d3ff;
	outline: 2px solid;
	outline-color: green;
	border-radius: 25px;
}

main .main-introduccion {
	width: 100%;
	margin-left: 10%;
	display: grid;
	grid-template-columns: 80%;
}

main .main-introduccion h1{
	margin: 15px;
	font-size: 150%;
	display: flex;
	text-align: center;
}

main .main-introduccion p {
	text-align: justify;
	font-size: 115%;
}

main .main-mapa-informacion{
	width: 90%;
	line-height: 22px;
	margin-left: 6%;
	outline: 2px solid;
	outline-color: green;
	border-radius: 25px;
	background-color: #ba2d2d;
}

.div-conteiner3 {
	width: 100%;
	line-height: 22px;
	display: grid;
	grid-template-columns: 40% 30% 30%;
}

main .main-coordenada{
	width: 100%;
	height: 100%;
}

main .main-coordenada img {
	margin-left: 10px;
	margin-top: 20px;
	width: 100%;
	height: 300px;
}

main .main-limitacion {
	margin-left: 40px;
	width: 70%;
	line-height: 22px;
}

main .main-limitacion h1{
	color: white;
	margin: 0;
	margin-top: 20px;
	font-size: 28px;
	display: flex;
	text-align: center;
	justify-content: center;
}

main .main-limitacion p{
	color: white;
}

main .main-demografico {
	color: white;
	margin-left: 20px;
	width: 90%;
	height: 340px;
}

main .main-demografico h1{
	color: white;
	text-align: center;
	margin: 0;
	margin-top: 20px;
	font-size: 28px;
	display: flex;
	text-align: center;
	justify-content: center;
}

main .main-demografico p{
	color: white;
}

main .main-comercio {
	width: 95%;
	line-height: 30px;
	margin-left: 3%;
	background-color: yellow;
	outline: 2px solid;
	outline-color: green;
	border-radius: 25px;
}

main .main-comercio h1{
	text-align: center;
	margin: 2px;
}

main .main-div-comercio{
	line-height: 30px;
	display: grid;
	grid-template-columns: 50% 50%;
}

main .main-bodegones div{
	width: 95%;
	height: 150px;
}

main .main-bodegones p{
	padding-top: 5px;
	margin: 5px;
}

main .main-bode-img {
	width: 100%;
	height: 150px;
	display: grid;
	grid-template-columns: 50% 50%;
}

main .main-bode-img img {
	margin-left: 5%;
	width: 90%;
	height: 150px;
}

main .main-venta div{
	width: 95%;
	height: 150px;
}

main .main-venta p{
	padding-top: 5px;
	margin: 5px;
}

main .main-venta-img {
	width: 100%;
	height: 100px;
	display: grid;
	grid-template-columns: 50% 50%;
}

main .main-venta-img img{
	margin-left: 5%;
	width: 90%;
	height: 150px;
}

main .main-recreacion {
	width: 95%;
	height: 540px;
	margin-left: 2.5%;
	background-color: #63d3ff;
	outline: 2px solid;
	outline-color: green;
	border-radius: 25px;
}

main .main-recreacion h1{
	text-align: center;
	margin: 2px;
}

main .main-div-recreacion{
	display: grid;
	grid-template-columns: 50% 50%;
}

main .main-canchas {
	margin-left: 20px;
	text-align: center;
}

main .main-canchas img {
	width: 90%;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}

main .main-canchas2{
	width: 90%;
	height: 240px;
}

main .main-canchas2 img{
	width: 50%;
	height: 180px;
	margin-left: 30%;
}

main .main-organizacion {
	width: 95%;
	line-height: 18px;
	margin-left: 2.5%;
	background-color: blue;
	outline: 2px solid;
	outline-color: green;
	border-radius: 25px;
	display: grid;
	grid-template-columns: 50% 50%;
}

main .main-orga-div h1,p{
	text-align: center;
}

main .main-orga-div2 {
	line-height: 30px;
	display: grid;
	grid-template-rows: 50% 50%;
}

main .main-orga-div2 img {
	width: 150px;
	height: 100px;
	margin-top: 10px;
	margin-left: 10px;
}


footer .footer-conteiner{
	width: 100%;
	line-height: 25px;
	background-color: green;
}

.footercont1 {
	width: 100%;
	line-height: 25px;
	display: grid;
	grid-template-columns: 25% 55% 20%;
}

footer .footer-logo {
	height: 100px;
}

footer .footer-logo img{
	margin-left: 40px;
	width: 140px;
	height: 90px;
}

footer .footer-contactos {
	height: 90px;
	display: grid;
	grid-template-rows: 20% 80%;
}

footer .footer-contactos h2{
	font-size: 22px;
	margin-top: 2px;
	text-align: center;
}

footer .footer-contactos-img {
	display: grid;
	grid-template-columns: 30% 70%;
}

footer .footer-contactos-img div{
	height: 80px;
}

footer .footer-img-RS {
	display: grid;
	grid-template-columns: 30% 30% 30%;
}

footer .footer-img-RS img{
	margin-left: 5px;
	margin-top: 20px;
	width: 40px;
	max-width: 40px;
	height: 30px;
}

footer .footer-correo{
	height: 20px;
}

footer .footer-correo h1 {
	text-align: center;
	margin: 2%;
	font-size: 18px;
}

footer .footer-correo p {
	text-align: center;
	margin: 2%;
	font-size: 18px;
}

footer .footer-informacion h2{
	font-size: 18px;
	line-height: 18px;
	margin: 5px;
}

footer .footer-informacion p{
	font-size: 18px;
	line-height: 18px;
	margin: 5px;
}
